body{
  background-color: #333;
  height: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding: 0px;
  
}

#alert{
  display: none;
  margin-top: 10px;
}

.ContAlert{
  width: 300px;
  height: 100px;
   position: absolute;
   margin: 0px auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
}

  .site-wrapper{
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
            box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  }

  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  } 
footer{
  background-color: rgba(0,0,0,.4);
}

footer p{
  font-size: 12px;
}